.address {
	padding: 59px 15px 67px 72px;
	font-size: 16px;
	background-color: $white;
	color: $black;
	line-height: 1.75;

	&__title {
		margin-bottom: 25px;
		font-size: 22px;
		font-weight: 600;
	}

	&__content {
		margin-bottom: 28px;
	}

	&__link {
		display: block;
		color: $red1;
		text-decoration: underline;
	}
}