.button-primary {
	display: inline-flex;
	border: 2px solid $yellow;
	padding: 0 29px;
	height: 30px;
	font-size: 14px;
	font-family: $font-fam2;
	font-weight: 400;
	background-color: $yellow;
	color: $white;
	text-align: center;
	line-height: 1.333;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	cursor: pointer;
	transition: all .3s ease;

	&:hover, &:focus, &:active {
		color: $red1;
		text-decoration: none;
		border-color: $red1;
	}

	&--red {
		border-color: $red1;
		background-color: $red1;
		color: $white;
		box-shadow: 0 0 20px $red1;

		&:hover, &:focus, &:active {
			color: $white;
			box-shadow: 0 0 20px $white;
		}
	}

	&--blue-text {
		color: $blue1;
		box-shadow: 0 0 30px rgba($gray, .4);

		&:hover, &:focus, &:active {
			color: $blue1;
			border-color: $blue1;
		}
	}

	&--submit {
		padding: 0 42px;
		font-size: 25px;
		font-weight: 900;
	}

	&--w288 {
		width: 288px;
	}

	&--mw379 {
		max-width: 379px;
	}

	&--mw457 {
		max-width: 457px;
	}

	&--transparent {
		background-color: transparent;
		color: $red2;

		&:hover, &:focus, &:active {
			background-color: $red2;
			color: $white;
		}
	}
}