.contacts {
  padding: 264px 0 126px;

  &__title {
    margin-bottom: 70px;
  }

  &__middle {
    display: flex;
    padding-bottom: 66px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__form {
    max-width: 448px;
    text-align: center;
  }

  &__address {
    width: 433px;
  }

  &__inputs {
    padding: 2px 0 39px;
  }

  &__input {
    margin-bottom: 15px;
    width: 100%;

    &--email {
      margin-bottom: 18px;
    }
  }

  &__bottom {
    text-align: center;
  }
}