.dream {
	position: relative;
	margin-bottom: -117px;
	padding: 124px 0 118px;
	background: url('../img/dream-bg.jpg') left top/cover no-repeat;
	text-align: center;
	border-radius: 0 0 21% 21%/ 9%;
	
	&__title {
		margin-bottom: 19px;
	}

	&__desc {
		font-size: 34px;
		color: $black;
	}

	&__middle {
		display: flex;
		position: relative;
		margin-bottom: 172px;
		padding-top: 81px;
		justify-content: space-between;
	}

	&__frame {
		width: 498px;
		min-height: 593px;
	}

	&__video {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 30%);
	}
}