.economy {

	padding: 25px 0 26px;

	&__title {

		margin-bottom: 21px;

		&:after {
			content: none;
		}
	}

	&__content {
		font-size: 16px;
		color: $black;
		line-height: 1.25;

		p {
			margin-bottom: 20px;
		}
	}
}