.experience {
	padding: 315px 0 80px;
	background: url('../img/experience-bg.jpg') center top/cover no-repeat;
	color: $white;

	&__top {
		display: flex;
		justify-content: space-between;
	}
	
	&__title {
		position: relative;
		margin-bottom: 47px;
		min-height: 108px;
		z-index: 1;

		&--right {
			padding-left: 20px;
		}
	}

	&__answer {
		margin-bottom: 33px;
		font-size: 24px;
		font-weight: 500;
	}

	&__question {
		position: relative;
		margin-bottom: 30px;
		max-width: 460px;
		min-height: 70px;
		padding-left: 65px;
		font-size: 16px;
		line-height: 1.75;

		&:before {
			content: "";
			position: absolute;
			top: 6px;
			left: 5px;
			width: 32px;
			height: 32px;
			background: url('../img/ico-answer.png') left top no-repeat;
		}
	}

	&__tv {

		top: 5px;

		img {
			max-width: initial;
		}
	}

	&__bottom {
		padding: 53px 0;
		text-align: center;
	}

}