.filter {
	display: flex;
	flex-wrap: wrap;
	&__item {
		position: relative;
		padding: 19px 0;
		width: 209px;

		&:last-child {
			text-align: center;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 21px;
			right: 0;
			bottom: 20px;
			width: 1px;
			background-color: rgba($gray2, .5);
		}
	}

	&__select {
		max-width: 100%;
	}

	&__label {
		display: block;
		margin-bottom: 6px;
		padding-left: 32px;
		font-size: 15px;
		font-weight: 400;
		font-family: $font-fam2;
		color: rgba($blue-dark1, .5);
		line-height: 1.3;
	}
}