.footer-nav {
	margin: 0;
	padding: 40px 0 37px;
	list-style: none;

	li {
		display: inline-block;
		vertical-align: middle;
	}

	a {
		display: block;
		padding: 20px 30px;
		font-size: 14px;
		font-weight: 700;
		font-family: $font-fam2;
		color: $white;
		line-height: 1.2;
		transition: color .3s ease;

		&:hover {
			color: $red1;
			text-decoration: none;
		}
	}
}