.frame {
	position: relative;
	padding: 114px 70px 52px 98px;
	background-color: $white;
	text-align: left;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 46px;
		right: 42px;
		bottom: 46px;
		left: 42px;
		border: 5px solid $red-light1;
	}

	&__title {
		position: relative;
		margin-bottom: 23px;
		font-size: 52px;
		font-family: $font-fam2;
		color: $black2;
	}

	&__list {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		margin-bottom: 24px;
		padding-left: 46px;
		font-size: 18px;
		background-position: 0 3px;
		background-repeat: no-repeat;
		line-height: 1.556;

		&:before {
			content: "";
			position: absolute;
			top: 3px;
			left: 0;
			width: 28px;
			height: 23px;
			background-repeat: no-repeat;
		}

		&--peoples {

			&:before {
				background-image: url('../img/ico-peoples.png');
			}
			
		}

		&--clock {

			&:before {
				background-image: url('../img/ico-clock.png');
			}
		}

		&--pocket {

			&:before {
				background-image: url('../img/ico-pocket.png');
			}
		}
	}
}