.heart {
  padding: 108px 0 128px;

  &__wrap {
    display: flex;
    position: relative;
    justify-content: space-evenly;

    &:before {
      content: "";
      display: block;
      position: absolute;
    }
  }

  &__col {
    max-width: 365px;
  }

  &__list {
    padding-bottom: 32px;
  }

  &__subtitle {
    position: relative;
    margin-bottom: 17px;
    padding-left: 33px;
    font-size: 18px;
    font-weight: 700;
    color: $red1;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -33px;
      width: 52px;
      height: 11px;
      background-image: url('../img/ico-list-title.png');
      transform: translateY(-50%);
    }
  }

  &__price {
    position: absolute;
    bottom: 40px;
    max-width: 220px;
    font-size: 72px;
    font-family: $font-fam2;
    line-height: 60px;

    small {
      font-size: .667em;
      text-transform: uppercase;
    }
  }

  &__bottom {
    padding: 95px 0;
    text-align: center;
  }
}