.input {
	padding: 18px 0;
	width: 176px;
	font-size: 18px;
	font-weight: 400;
	border-color: transparent;
	border-bottom-color: $white;
	background-color: transparent;
	color: $white;
	vertical-align: top;
	transition: border-color .3s ease;

	&::placeholder {
		color: $white;
	}

	&:hover, &:focus, &:active {
		outline: none;
	}
}