.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    margin-bottom: 14px;
    padding-left: 33px;
    font-size: 16px;
    color: $black;
    line-height: 1.75;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 7px;
      left: 0;
      width: 14px;
      height: 14px;
      background: radial-gradient( transparent 0%, transparent 25%, $red1 25%);
      border-radius: 50%;
    }
  }
}