@media (min-width: 1200px) {

  .container {
    max-width: 1181px;
  }

  .page-header {

    &__bottom {

      &:before {
        right: 78px;
        bottom: -150px;
        width: 515px;
        height: 506px;
        background: url('../img/bouquet.png') no-repeat;
      }
    }
  }

  .not-afraid {
    background: url('../img/not-afraid-bg.jpg') center top/cover no-repeat;
  }

  .heart {
    background: url('../img/heart.png') center top no-repeat;

    &__wrap {

      &:before {
        bottom: -42px;
        left: 50%;
        margin-left: -17px;
        width: 369px;
        height: 373px;
        background: url('../img/heart-center.png') left top no-repeat;
        transform: translateX(-50%);
      }
    }
  }

  .contacts {
    background: url('../img/contacts-bg.jpg') left top/cover no-repeat;

    &__container {
      max-width: 1084px;
    }
  }
}


@media (min-width: 992px) {
}

@media (min-width: 768px) {

}

@media (min-width: 645px) and (max-width: 1199px){
  .container {
    padding: 0;
    max-width: 645px;
  }

  .page-header {
    background: url('../img/page-header-bg-medium.jpg') top center/cover no-repeat;
    border-radius: 0 0 50% 50% / 17%;
  }

  .not-afraid {
    background: url('../img/not-afraid-bg-medium.jpg') center top/cover no-repeat;
  }

  .heart {
    background: url('../img/heart-medium.png') center top no-repeat;

    &__wrap {

      &:before {
        bottom: -42px;
        right: -9px;
        width: 298px;
        height: 301px;
        background: url('../img/heart-center-medium.png') left top/contain no-repeat;
      }
    }
  }

  .contacts {
    background: $red1 url('../img/contacts-bg-medium.jpg') center top no-repeat;
  }
}

@media (max-width: 1199px) {
  .page-header {
    margin-bottom: -130px;
    padding-top: 24px;

    &__top {
      margin-bottom: 15px;
      padding: 0 24px 0 30px;
      padding-right: 24px;
      padding-left: 30px;
    }

    &__title {
      font-size: 26px;
      margin-bottom: 14px;
    }

    &__desc {
      margin: 0 auto 24px;
      max-width: 295px;
      font-size: 32px;
      line-height: 1.0625;
    }

    &__content {
      font-size: 16px;
      line-height: 1.5;
    }

    &__btn-wrap {
      padding: 26px 11px 26px 4px;
    }

    &__button {
      margin: 0 15px;
      width: 318px;
      line-height: 1.223;

      &--right {
        width: 253px;
      }
    }

    &__bottom {
      padding-bottom: 81px;

      &:before {
        right: 50%;
        bottom: -116px;
        width: 341px;
        height: 335px;
        background: url('../img/bouquet-medium.png') no-repeat;
        transform: translateX(50%);
      }
    }
  }

  .logo {

    &__img {
      max-width: 105px;
    }
  }

  .tel {
    font-size: 20px;
  }

  .page-carousel {
    background-color: $black4;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -50%;
      bottom: 100%;
      left: 0;
      width: 100%;
      background-color: $black4;
    }

    &__item {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba($black3, .94);
      }
    }

    &__wrap {
      position: relative;
    }
  }

  .head-title {
    font-size: 24px;
  }

  .page-carousel {

    &__wrap {
      padding: 0 40px;
      text-align: center;
    }

    &__item {
      height: 774px;
      padding: 281px 0 100px;
    }

    &__title {
      margin-bottom: 17px;
    }

    &__desc {
      margin-bottom: 46px;
      font-size: 22px;
    }

    &__content {
      margin-bottom: 34px;
      height: 78px;
    }

    &__p {
      text-align: left;
      line-height: 1.445;
    }

    &__button-primary {
      margin: 0 auto;
      padding: 0 37px;
    }

    &__ico-wrap {
      width: 77px;
      height: 77px;

      &:before {
        transform: rotate(0);
      }

      &--2 {
        &:before {
          transform: rotate(-35deg)
        }
      }

      &--3 {
        &:before {
          height: 460px;
          transform: rotate(-54deg)
        }
      }

      &--4 {
        &:before {
          transform: rotate(-65deg)
        }
      }
    }

    &__dot-ico {
      max-width: 95%;

      &--big {
        margin-top: -16px;
      }
    }

    &__dot {
      padding: 0 10px;
      height: 100px;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  .not-afraid {
    margin-bottom: -383px;
    padding-top: 44px;
    border-radius: 0 0 50% 50% / 17%;

    &__title {
      margin-bottom: 16px;
    }

    &__desc {
      position: relative;
      margin-bottom: -106px;
      font-size: 18px;
      z-index: 1;
    }

    &__heart {
      top: 65px;
      margin-top: 0;
    }
  }

  .heart {

    padding: 126px 0 97px;

    &__wrap {
      padding: 0 5px 0 30px;
    }

    &__col {
      max-width: 50%;
    }

    &__subtitle {
      margin-bottom: 22px;
      font-size: 16px;
    }

    &__price {
      right: 20px;
      max-width: 230px;
      font-size: 49px;
      text-align: center;
      line-height: .714;

      small {
        font-size: 1em;
        text-transform: none;
      }

      br {
        display: none;
      }
    }

    &__bottom {
      padding: 52px 0;
    }
  }

  .list {
    padding-bottom: 23px;

    &__item {
      margin-bottom: 9px;
      padding-left: 35px;
      font-size: 14px;
      line-height: 1.25;

      &:before {
        top: 2px;
      }
    }
  }

  .experience {

    padding: 495px 24px 24px;

    &__top {
      display: block;
    }

    &__title {
      margin-bottom: 41px;
      min-height: initial;
      text-align: center;

      &--right {
        margin-bottom: 47px;
        padding-left: 0;
      }
    }

    &__answer {
      margin-bottom: 21px;
    }

    &__question {
      margin-bottom: 36px;
      padding-left: 63px;
      max-width: 580px;
      min-height: initial;
      z-index: 1;
    }

    &__block {

      &--right {
        padding-top: 56px;
      }
    }

    &__tv {
      margin: 0 auto;
      max-width: 594px;

      img {
        max-width: 100%;
      }
    }

    &__bottom {
      padding: 26px 0;
    }
  }

  .dream {
    margin-bottom: -451px;
    padding: 72px 0 102px;
    border-radius: 0 0 50% 50% / 17%;

    &__title {
      margin-bottom: 15px;
    }

    &__desc {
      font-size: 24px;
    }

    &__frame {
      width: 289px;
      min-height: initial;
    }

    &__middle {
      margin-bottom: 24px;
      padding: 22px 0 240px;
      justify-content: space-around;
    }

    &__video {
      transform: translateX(-50%);

      img {
        max-width: 302px;
      }
    }
  }

  .frame {
    padding: 48px 33px 35px;

    &:before {
      top: 15px;
      right: 15px;
      bottom: 13px;
      left: 11px;
    }

    &__title {
      margin-bottom: 26px;
      font-size: 42px;
      text-align: center;
    }

    &__item {
      margin-bottom: 17px;
      font-size: 16px;
      line-height: 1.2;

      &:last-child {
        margin-bottom: 0;
      }

      br {
        display: none;
      }
    }
  }

  .contacts {
    padding: 529px 0 29px;
    text-align: center;

    &__title {
      margin-bottom: 32px;
    }

    &__middle {
      display: block;
      padding-bottom: 27px;
    }

    &__form {
      margin: 0 auto 64px;
      max-width: 321px;
    }

    &__inputs {
      padding-bottom: 43px;
    }

    &__input {
      margin-bottom: 14px;

      &--email {
        margin-bottom: 18px;
      }
    }

    &__address {
      padding: 36px 10px 41px;
      width: 100%;
    }
  }

  .button-primary {

    &--submit {
      font-size: 22px;
    }
  }

  .address {

    &__title {
      margin-bottom: 27px;
    }
  }

  .page-footer {

    &__wrap {
      padding: 0 23px;
    }
  }
}


@media (max-width: 644px) {

  .page-header {
    background: url('../img/page-header-bg-small.jpg') center top no-repeat;
    border-radius: 0 0 43% 43% / 8%;

    &__top {
      padding: 0 10px 0 5px;
    }

    &__bottom {
      padding-bottom: 42px;

      &:before {
        bottom: -113px;
      }
    }

    &__content {
      margin: 0 auto 1rem;
      max-width: 310px;
    }

    &__btn-wrap {
      padding: 17px 0;
      flex-direction: column;
      align-items: center;
    }

    &__button {
      margin-bottom: 9px;
      width: 320px;
    }
  }

  .head-title {
    font-size: 22px;
  }

  .page-carousel {

    &__item {
      padding: 289px 0 143px;
      height: auto;
    }

    &__wrap {
      padding: 0 5px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__desc {
      margin-bottom: 22px;
    }

    &__ico-wrap {
      display: none;
    }

    &__content {
      margin-bottom: 40px;
      height: auto;
      flex-direction: column;
      align-items: center;
    }

    &__p {
      max-width: 320px;
      font-size: 16px;
      line-height: 1.375;
    }

    &__button-primary {
      padding: 0 20px;
    }

    &__dot {
      height: 90px;
      text-indent: -9999px;
      background-position: center;
      background-repeat: no-repeat;

      &--item1 {
        background-image: url('../img/dot-ico1.png');
      }

      &--item2 {
        background-image: url('../img/dot-ico2.png');
      }

      &--item3 {
        background-position: center 0;
        background-image: url('../img/dot-ico3.png');
      }

      &--item4 {
        background-image: url('../img/dot-ico4.png');
      }

      br {
        display: none;
      }
    }
  }

  .not-afraid {
    margin-bottom: -150px;
    background: url('../img/not-afraid-bg-small.jpg') center top/cover no-repeat;
    border-radius: 0 0 43% 43% / 8%;

    &__title {
      margin: 0 auto 23px;
      max-width: 280px;
    }

    &__desc {
      margin: 0 auto 33px;
      max-width: 320px;
    }
  }

  .heart {
    position: static;
    padding: 0;

    &__wrap {
      display: block;
      padding: 0 0 0 5px;
    }

    &__col {
      max-width: 100%;
    }

    &__list {
      padding-bottom: 22px;

      &--first {
        padding-bottom: 20px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: -41px;
          left: -70px;
          width: 122px;
          height: 109px;
          background: url('../img/fruit.png') left top no-repeat;
        }
      }

      &--last {
        padding-bottom: 17px;
      }
    }

    &__price {
      position: static;
      max-width: initial;
      line-height: 1.2;

      small {
        text-transform: lowercase;
      }
    }

    &__bottom {
      padding: 2px 0 76px;
    }
  }

  .button-primary {

    &--red, &--blue-text {
      padding: 0 20px;
      font-size: 16px;
    }

    &--submit {
      padding: 0 47px;
      font-size: 22px;
    }
  }

  .experience {
    padding: 212px 0 48px;

    &__top {
      padding: 0 5px;
    }

    &__block {

      &--right {
        padding-top: 23px;
      }
    }

    &__title {
      margin-bottom: 43px;

      &--right {
        margin-bottom: 56px;
      }
    }

    &__answer {
      margin-bottom: 20px;
      max-width: 280px;
      font-size: 18px;
    }

    &__question {
      margin-bottom: 40px;
      line-height: 1.5;
    }

    &__tv {
      top: 0;
    }

    &__bottom {
      padding: 23px 5px;
    }

    &__button {
      height: auto;
      padding: 20.5px 40px;
      border-radius: 35px;
    }
  }

  .tv {

    &__frame {
      border-width: 10px;
      border-top-width: 9px;
      border-bottom-width: 9px;
    }
  }

  .dream {
    margin-bottom: -491px;
    padding: 56px 0 76px;
    border-radius: 0 0 43% 43% / 8%;
    background: #edecf1 url('../img/dream-bg-small.jpg') center top no-repeat;

    &__title {
      margin: 0 -15px 15px;
    }

    &__desc {
      font-size: 18px;
    }

    &__middle {
      padding: 18px 0 13px;
      flex-direction: column;
      align-items: center;
    }

    &__frame {
      width: 320px;
      margin-bottom: 15px;
      padding: 65px 50px 83px 60px;

      &:last-child {
        margin-bottom: 9px;
      }
    }

    &__video {
      position: relative;
      left: 0;
      transform: none;
    }
  }

  .frame {

    &:before {
      top: 25px;
      right: 26px;
      bottom: 24px;
      left: 24px;
    }

    &__title {
      margin-bottom: 21px;
      font-size: 32px;
    }

    &__item {

      &:last-child {
        min-height: 57px;
      }
    }
  }

  .contacts {
    padding: 557px 0 59px;
    background: $red1 url('../img/contacts-bg-small.jpg') center top no-repeat;

    &__form {
      margin-bottom: 74px;
    }

    &__inputs {
      padding-bottom: 40px;
    }

    &__middle {
      padding-bottom: 34px;
    }

    &__download {
      height: auto;
      padding: 17px 40px;
      border-radius: 35px;
    }
  }

  .page-footer {

    &__wrap {
      padding: 0;
      flex-direction: column;
      justify-content: center;
    }

    &__copy {
      margin-bottom: 10px;
    }
  }

  .designed {
    flex-wrap: wrap;
    justify-content: center;

    &__content {
      margin-right: 8px;
      flex-shrink: 1;
    }

    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 340px) {
  .tel {
    font-size: 16px;
  }
 
}