@mixin font-face($font: arial, $family: arial, $weight: normal, $style: normal){
    @font-face{
        font-family: $font;
        src:local(#{$family}),
            url('../fonts/#{$family}/#{$family}.woff2') format('woff2'),
            url('../fonts/#{$family}/#{$family}.woff') format('woff'),
            url('../fonts/#{$family}/#{$family}.eot'),
            url('../fonts/#{$family}/#{$family}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/#{$family}/#{$family}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}