.modal {
  background-color: rgba($red2, .68);
  text-align: center;

  &__header {
    display: block;
    border-bottom: none;
    padding: 55px 15px 0;
  }

  &__close {
    position: absolute;
    top: 28px;
    right: 39px;
    border: none;
    width: 30px;
    height: 30px;
    background: url('../img/close.png') no-repeat;
    text-indent: -9999px;
    cursor: pointer;
  }

  &__title {
    margin-bottom: 11px;
    font-size: 35px;
    font-weight: 900;
    color: $black;
    text-transform: uppercase;
  }

  &__desc {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.334;
  }

  &__form {
    padding-bottom: 38px;
  }

  &__inputs {
    margin: 0 auto;
    padding-bottom: 28px;
    max-width: 322px;
  }

	&__input {
		margin-bottom: 22px;
    border-width: 1px;
    padding: 13px 0;
		width: 100%;
    font-size: 16px;
    border-bottom-color: $gray2;
    color: $gray;
    text-align: center;

    &::placeholder {
      color: $gray;
    }
	}

  &__dialog {

    &--large {
      max-width: 769px;
    }
  }

  &__buttons {
    padding: 27px 0 7px;
  }

  &__subscribe {
    margin: 4px;
    padding: 0 38px;
    box-shadow: none;
  }

  &__back {
    margin: 4px;
  }

}