.not-afraid {
  position: relative;
  margin-bottom: -115px;
  padding-top: 124px;
  border-radius: 0 0 21% 21%/ 10%;
  z-index: 10;

  &__title {
    margin-bottom: 14px;
    text-align: center;
  }

  &__desc {
    margin-bottom: 56px;
    font-size: 34px;
    color: $black;
    text-align: center;
    line-height: 1.2;
  }

  &__heart {
    position: relative;
    top: 141px;
    margin-top: -141px;
  }
}