.page-navigation {
	margin-bottom: 0;
	border: none;

	.navbar-nav {
		min-width: 563px;
		text-align: center;

		& > li {

			& > a {

				padding: 15px 28px;
				font-size: 14px;
				font-weight: 700;
				font-family: $font-fam2;
				color: $black2;
				transition: all .3s ease;

				&:hover, &:focus {
					color: $red1;
				}

			}
		}
	}
}