.page-footer {
	background: url('../img/page-footer-bg.jpg') left top/cover no-repeat;

	&__wrap {
		display: flex;
		height: 104px;
		justify-content: space-between;
		align-items: center;
	}

	&__copy {
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 600;
		color: $black;
	}

}