.page-banner {
  color: $white;

  &__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 598px;
    background: url('../img/page-banner-bg.jpg') left top/cover no-repeat;
  }

  &__content {
    display: inline-block;
    min-width: 562px;
    vertical-align: top;
  }

  &__title {
    margin-bottom: 39px;
    font-size: 38px;
    font-weight: 400;
    font-family: $font-fam3;
    line-height: 1.2;

    strong {
      display: block;
      font-size: .947369em;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}