.page-header {
  position: relative;
  background: url('../img/header-bg.png') center top no-repeat;
  z-index: 10;

  &__top {
    color: $white;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__bottom {
    margin: 0 auto;
    padding-bottom: 144px;
    max-width: 959px;
    text-align: center;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
    }
  }

  &__title {
    margin: 0;
    font-size: 65px;
    font-weight: 900;
    color: $red1;
    text-transform: uppercase;
  }

  &__desc {
    margin-bottom: 34px;
    font-size: 62px;
    font-family: $font-fam2;
    color: $black2;
    line-height: 1.3;
  }

  &__content {
    font-size: 18px;
    line-height: 1.667;
    color: $black;
  }

  &__btn-wrap {
    display: flex;
    position: relative;
    padding: 64px 0;
    justify-content: space-between;
  }
}