.page-carousel {
  position: relative;
  color: $white;

  .owl-item img {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  &__item {
    padding: 302px 0 197px;
    height: 1137px;
  }

  &__wrap {
    margin-left: auto;
    padding-right: 35px;
    max-width: 677px;
  }

  &__item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__desc {
    margin-bottom: 92px;
    font-size: 34px;
    line-height: 1.2;
  }

  &__content {
    display: flex;
    position: relative;
    margin-bottom: 55px;
    height: 90px;
    align-items: center;
  }

  &__p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.667;

    span {
      font-weight: 700;
      color: $red1;
    }
  }

  &__ico-wrap {
    position: relative;
    margin-right: 49px;
    width: 94px;
    height: 94px;
    background-color: $red1;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 0 0 -5.5px;
      background: url('../img/line.png') left top repeat-y;
      width: 11px;
      height: 1000px;
      transform: rotate(39deg);
      transform-origin: 0 0;
    }

    &--2 {

      &:before {
        transform: rotate(18deg);
      }
    }

    &--3 {

      &:before {
        transform: rotate(-33deg);
      }
    }

    &--4 {

      &:before {
        transform: rotate(-56deg);
      }
    }
  }

  &__dot-ico {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--big {
      margin-top: -24px;
    }
  }

  &__button-primary {
    position: relative;
    margin-left: 143px;
  }

  &__dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    z-index: 10;
  }

  &__container-dots {
    display: flex;
  }

  &__dot {
    position: relative;
    border: none;
    margin: 0 1px;
    padding: 0 15px;
    width: 25%;
    height: 197px;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba($black, .3);
    color: $white;
    line-height: 1.455;
    cursor: pointer;
    z-index: 10;
    transition: background-color .3s ease;

    &.active, &:hover {
      background-color: $red1;
    }

    &:focus {
      outline-color: $red1;
    }

    &:first-child, &:last-child {
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 1000px;
        height: 100%;
        background-color: inherit;
      }
    }

    &:first-child {

      &:before {
        right: 100%;
      }
    }

    &:last-child {

      &:before {
        left: 100%;
      }
    }
  }
}