.play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 88px;
  height: 88px;
  background: $red1 url('../img/ico-play.png') center no-repeat;
  text-indent: -9999px;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
}