.tv {
	position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 100%;
    height: 204px;
    background: url('../img/antenna.png') right bottom/contain no-repeat;
  }

  &__frame {
    display: block;
    border-top: 41px solid $red1;
    border-right: 37px solid $red1;
    border-bottom: 38px solid $red1;
    border-left: 36px solid $red1;
  }
}