$font-fam1: Oswald, sans-serif;
$font-fam2: Montserrat, sans-serif;
$font-fam3: 'Century Gothic', sans-serif;
$white: #fff;
$white2: #fefdfe;
$white3: #e3e3e3;
$white4: #f7f7f7;
$white5: #f1f1f3;
$black: #000;
$black2: #121212;
$black3: #494d56;
$black4: #454954;
$black5: #323232;
$black6: #002230;
$black7: #3c3c3c;
$gray: #898e93;
$gray2: #d4d9de;
$gray4: #a6a6a6;
$gray5: #ddebec;
$gray6: #666;
$gray7: #b0b0b0;
$gray8: #828282;
$gray9: #dcdcdc;
$gray10: #929292;
$gray11: #dbdbdb;
$gray12: #c3c3c3;
$yellow: #FDB813;
$yellow2: #ecc247;
$yellow3: #eabc4b;
$yellow4: #ffcc39;
$yellow5: #e8ba35;
$yellow6: #f2d07c;
$yellow8: #ffc538;
$yellow9: #bca049;
$blue1: #1fb7d5;
$blue2: #005599;
$blue3: #0098b8;
$blue4: #3c4658;
$blue5: #0062d0;
$blue6: #55a1c4;
$blue7: #75a8bc;
$blue8: #8bc1d6;
$blue9: #00a3e1;
$blue10: #5d95b6;
$blue-dark1: #354458;
$blue-dark2: #3c4658;
$blue-light1: #d3e4e5;
$green1: #00ad5d;
$orange1: #f56a3f;
$purple1: #bd8cc1;
$red1: #ff0053;
$red2: #632934;
$red-light1: #ffb2cb;
$red3: #632934;
$red4: #ff2a10;